<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.lee.lostfound"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-feature android:glEsVersion="0x00020000" />

    <permission
        android:name="kr.lee.lostfound.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.tistory.pierce.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/main_lable"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name="kr.lee.lostfound.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/main_lable"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/setting_lable"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.EmailChangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/emailchange_lable"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.PasswordChangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/passwordchange_lable"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.SupportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/support_lable"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.SignupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/signup_lable"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.StartupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_startup"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="kr.lee.lostfound.SMSReceiver" >
            <intent-filter android:priority="200" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="kr.lee.lostfound.BootcompleteReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="kr.lee.lostfound.SirenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/siren_lable"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.SetSirenMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_set_siren_message"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.ContactsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/contacts_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.lamerman.FileDialog" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.LocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="kr.lee.lostfound.ContactsService" >
            <intent-filter>
                <action android:name="kr.lee.lostfound.ContactsService" >
                </action>
            </intent-filter>
        </service>
        <service android:name="kr.lee.lostfound.LocationService" >
            <intent-filter>
                <action android:name="kr.lee.lostfound.LocationService" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDR0FdiTO0NINoDi5BX8TPNlKBlrZyEouU" />

        <activity
            android:name="kr.lee.lostfound.LocationSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_location_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.LockScreenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/lockScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kr.lee.lostfound.SetLockActivity"
            android:label="@string/title_activity_set_lock" >
        </activity>
    </application>

</manifest>